.OdysseyContainer {
    font-size: 0.9em;
    border-radius: 1em;
    border-color: #909090;
    border-width: 0.1em;
    border-style: solid;
    overflow: hidden;
    color: #eaeaea;
    text-align: center;
    margin: 1em;
}

#OdysseyLargeMinimap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #000;
}
#OdysseyMinimapViewport {
    /*width: 1024px;*/
    /*height: 512px;*/
    overflow: hidden;
    border: 0.1em solid #000;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

#OdysseyMinimapContainer {
    position: relative;
    margin: 0 auto;
    transition-property: left, top;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    image-rendering: -moz-crisp-edges;
}

#OdysseyMinimapContainer > img {
    background-color: #000000;
    transition-property: height, width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

#OdysseyMinimapContainer > img#MinimapFloor07 {
    background-color: #3300cc;
}

#OdysseyLargeMinimap,
#OdysseyMinimapContainer,
#OdysseyMinimapContainer > img {
    display: none;
}

body.state-minimap-active #OdysseyLargeMinimap,
body.state-minimap-active #OdysseyMinimapContainer,
#OdysseyMinimapContainer > img.active {
    display: block;
}

#OdysseyMinimapActive {
    font-size: 127px;
    width: 1em;
    height: 1em;
    padding: 0;
    border: 0.01em solid #000;
    margin: -0.5em 0 0 -0.5em;
    position: absolute;
}

#OdysseyMinimapClose {
    position: absolute;
    right: 0;
    z-index: 9;
    font-weight: bold;
    font-size: 0.9em;
    display: inline;
    line-height: 2em;
}
#OdysseyMinimapCloseLink {
    color: #ffffff;
    text-decoration: none;
    padding: 0.1em 1em;
}
#OdysseyMinimapCloseLink:hover {
    color: #cc0000; /* TODO CHANGE */
}
#OdysseyToolRow {
    position: absolute;
    left: 0;
    top: 0;
}
#OdysseyToolRow > div {
    float: left;
    position: relative;
    z-index: 10000;
    border-radius: 0.5em;
    margin: 0 0.2em;
}
#OdysseyToolRow img {
    vertical-align: middle;
}
#OdysseyToolRow a,
#OdysseyToolRow a:visited {
    color: #dbdbdb;
}
#OdysseyToolRow a.tool-link {
    text-decoration: none;
    padding: 0 0.5em;
}

/* Hide all main UI components that don't have the 'active' class. */
