/* OdysseyNavList */
#OdysseyNavList {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.9em;
    border-radius: 1em;
    border-color: #909090;
    border-width: 0.1em;
    border-style: solid;
    overflow: hidden;
    z-index: 10000;
    color: #eaeaea;
    text-align: center;
    margin: 1em;
}
body.state-navlist-active #OdysseyNavList {
    width: 100%;/* Mobile-specific */
    margin: 0;
}
#OdysseyCloseNavigation {
    cursor: pointer;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0.5em 0;
}
h2.OdysseyNavListHeader {
    font-size: 1.2em;
}
h3.OdysseyNavListHeader {
    font-size: 1em;
}
h4.OdysseyNavListHeader {
    font-size: 0.8em;
}
#OdysseyNavListLocations {
    margin: 0.5em;
    position: relative;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 32px;
    list-style: none;
    padding: 0;
}
#OdysseyNavListLocations li {
    clear: both;
    margin: 0.1em 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.5em;
    padding: 0 0.1em;
}
#OdysseyNavListLocations li:hover {
    background: rgba(0, 0, 0, 0.3);
}
#OdysseyNavList {
    display: none;
}
#OdysseyNavList a {
    color: #eaeaea;
    display: block;
    padding: 0.75em 1em;/* Mobile-specific */
}

@media (min-width: 501px) {
    /* State = active|inactive */
    #OdysseyNavList {
        width: auto;
    }
    
    #OdysseyNavList a {
        color: #eaeaea;
        display: block;
        padding: 0em 1em;/* Mobile-specific */
    }
    
    /* State = active */
    body.state-navlist-active #OdysseyNavList {
        width: auto;
        margin: 1em;
    }
}
