/* OdysseyNavList */
#map-container {
    background-color: #000;
    padding: 0;
    border: 0px solid #000;
    border-radius: 0;
}
#OdysseyNavListContainer {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.9em;
    border-radius: 1em;
    border-color: #909090;
    border-width: 0.1em;
    border-style: solid;
    overflow: hidden;
    z-index: 10000;
    color: #eaeaea;
    text-align: center;
    margin: 1em;
}
#OdysseyNavListContainer.visible {
    width: 100%;/* Mobile-specific */
    margin: 0;
}
#OdysseyNavListBackground {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(81, 81, 81, 0.6);
    z-index: -1;
    width: 100%;
    height: 100%;
}
.OdysseyNavListHeader {
    text-align: center;
    border-width: 0px 0px 0.1em;
    border-style: solid;
    border-color: #ADADAD;
    line-height: 2em;
    margin: 0;
}
.OdysseyNavListHeader img {
    vertical-align: middle;
}
#show-navigation {
    text-decoration: none;
    padding: 0 0.5em;
}
.navigation-label {
    text-decoration: underline;
}
h2.OdysseyNavListHeader {
    font-size: 1.2em;
}
h3.OdysseyNavListHeader {
    font-size: 1em;
}
h4.OdysseyNavListHeader {
    font-size: 0.8em;
}
#OdysseyNavListLocations {
    margin: 0.5em;
    position: relative;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 32px;
    list-style: none;
    padding: 0;
}
#OdysseyNavListLocations li {
    clear: both;
    margin: 0.1em 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.5em;
    padding: 0 0.1em;
    height: 32px;
}
#OdysseyNavListLocations li:hover {
    background: rgba(0, 0, 0, 0.3);
}
#OdysseyNavListContainer a {
    color: #eaeaea;
    display: block;
}
#OdysseyNavListContainer .navigation-label,
#OdysseyNavListContainer #OdysseyNavList {
    display: none;
}
#OdysseyNavListContainer.visible .navigation-label,
#OdysseyNavListContainer.visible #OdysseyNavList {
    display: initial;
}

@media (min-width: 501px) {
    #OdysseyNavListContainer {
        width: auto;
    }
    #OdysseyNavListContainer.visible {
        width: auto;
        margin: 1em;
    }
}
