#OdysseySearchContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}
body.state-search-active #OdysseySearchContainer {
    display: block;/* IE does not understand 'initial' */
    display: initial;
}

#OdysseySearch {
    position: relative;
    margin: 0 auto;
    border-width: 0.1em;
    border-style: solid;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
}
#OdysseySearchHeader,
#OdysseySearchResults {
    font-size: 1.1em;
    padding: 0;
}
#OdysseySearchHeader > a,
#OdysseySearchResults > a {
    color: inherit;
    text-decoration: none;
}
#OdysseySearchResultsContainer {
    max-height: 20em;
    overflow-y: auto;
    padding: 0 0.5em;
}
#OdysseySearch fieldset {
    border-radius: 0.5em;
}

#OdysseySearch fieldset {
    font-size: 1.5em;
}
input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border-radius: 0.2em;
    background-color: #363636;
}
button, input[type="submit"] {
    margin: 0.5em;
}
.SearchResults {
    margin: 0;
    text-align: left;
    list-style: none;
    border-radius: 1em;
    padding: 0;
    overflow: hidden;
}
.SearchResults > li {
    background-color: #353535;
    padding: 0 1em;
    line-height: 2em;
    font-size: 1.1em;
    cursor: pointer;
}
.SearchResults > li:nth-child(2n) {
    background-color: #6b6b6b;
}
.SearchResults > li:hover {
    background-color: #a1ad00;
}
.SearchResults > li.inactive {
    display: none;
}
.search-criteria {
    float: right;
}
.search-criteria:before {
    content: "\AB";
}
.search-criteria:after {
    content: "\BB";
}
@media screen and (min-width: 501px) and (orientation: portrait), screen and (min-height: 501px) and (orientation: landscape) {

    #OdysseySearch {
        max-width: 23em;
    }
}