/**
 * State.css
 * 
 * Handles the web app's state.
 * The body element stores the state of the Odyssey web app
 * so that we can adjust global styles based on what is active.
 */

/* Fullscreen Pixel Minimap */
body.state-minimap-active #OdysseyLargeMinimap {
    display: initial;
}
body.state-minimap-active #OdysseyMiniMap,
body.state-minimap-active #OdysseyToolTip,
body.state-minimap-active #OdysseyToolRow,
body.state-minimap-active #OdysseyNavList,
body.state-minimap-active #map-container {
    display: none;
}

/* Navigation List */
body.state-navlist-active #OdysseyNavList {
    display: initial;
}
body.state-navlist-active #OdysseyMiniMap,
body.state-navlist-active #OdysseyToolTip,
body.state-navlist-active #OdysseyToolRow,
body.state-navlist-active #OdysseyLargeMinimap,
body.state-navlist-active #map-container {
    display: none;
}

/* Desktop behaviors */
@media (min-width: 501px) {
    /*
     * Desktop: if Navigation List is active,
     * don't hide other UI components.
     */
    body.state-navlist-active #OdysseyNavList {
        display: initial;
    }
    body.state-navlist-active #OdysseyMiniMap,
    body.state-navlist-active #OdysseyToolTip,
    body.state-navlist-active #OdysseyToolRow,
    body.state-navlist-active #map-container {
        display: initial;
    }
}