/**
 * State.css
 * 
 * Handles the web app's state.
 * The body element stores the state of the Odyssey web app
 * so that we can adjust global styles based on what is active.
 */

/* Tool Row */
body.state-tools-active #OdysseyToolRow > div {
    display: block;/* IE does not understand 'initial' */
    display: initial;
}
/* Fullscreen Pixel Minimap */
body.state-minimap-active #OdysseyLargeMinimap {
    display: block;/* IE does not understand 'initial' */
    display: initial;
}
body.state-minimap-active #OdysseyMiniMap,
body.state-minimap-active #OdysseyToolTip,
body.state-minimap-active #OdysseyToolRow,
body.state-minimap-active #OdysseyNavList,
body.state-minimap-active #OdysseySearchContainer,
body.state-minimap-active #OdysseyStatus,
body.state-minimap-active #map-container {
    display: none;
}

/* Navigation List */
body.state-navlist-active #OdysseyNavList {
    display: block;/* IE does not understand 'initial' */
    display: initial;
}
body.state-navlist-active #OdysseyMiniMap,
body.state-navlist-active #OdysseyToolTip,
body.state-navlist-active #OdysseyToolRow,
body.state-navlist-active #OdysseyLargeMinimap,
body.state-navlist-active #OdysseySearchContainer,
body.state-navlist-active #OdysseyStatus,
body.state-navlist-active #map-container {
    display: none;
}

/* Search */
body.state-search-active #OdysseySearchContainer {
    display: block;/* IE does not understand 'initial' */
    display: initial;
}
body.state-search-active #OdysseyLargeMinimap,
body.state-search-active #OdysseyMiniMap,
body.state-search-active #OdysseyToolTip,
body.state-search-active #OdysseyToolRow,
body.state-search-active #OdysseyNavList,
body.state-search-active #OdysseyStatus,
body.state-search-active #map-container {
    display: none;
}
/* Desktop behaviors */
@media screen and (min-width: 501px) and (orientation: portrait), screen and (min-height: 501px) and (orientation: landscape) {
    /*
     * Desktop: if Navigation List is active, don't hide other UI components.
     */
    body.state-navlist-active #OdysseyNavList {
        display: block;/* IE does not understand 'initial' */
        display: initial;
    }
    body.state-navlist-active #OdysseyMiniMap,
    body.state-navlist-active #OdysseyToolTip,
    body.state-navlist-active #OdysseyToolRow,
    body.state-navlist-active #OdysseyStatus,
    body.state-navlist-active #map-container {
        display: block;/* IE does not understand 'initial' */
        display: initial;
    }
    /*
     * Desktop: if Search is active, don't hide the map or status.
     */
    body.state-search-active #OdysseyStatus,
    body.state-search-active #map-container {
        display: block;/* IE does not understand 'initial' */
        display: initial;
    }
    
}