#map-quick-links {
    font-size: 0.9em;
    border-radius: 1em;
    border-color: #909090;
    border-width: 0.1em;
    border-style: solid;
    overflow: hidden;
    color: #eaeaea;
    margin: 1em;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
}

#map-quick-links .title {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.Odyssey-NavList {
    z-index: 999999;
    width: 14em;
    list-style: none;
    padding: 0;
    margin: 0;
}

#map-quick-links ul li {
    width: 100%;
    overflow: hidden;
}
#map-quick-links a {
    display: block;
    text-align: center;
    padding: 0 0.1em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.5em;
    color: #eaeaea;
    text-decoration: none;
}
#map-quick-links a:hover {
    background: rgba(0, 0, 0, 0.4);
}
.clear {
    clear: both;
}
#map-quick-links-background {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(81, 81, 81, 0.6);
    z-index: -1;
    width: 100%;
    height: 100%;
}