/* Don't display minimap on mobile */
#OdysseyMiniMapCanvas {
    display: none;
}

@media (min-width: 501px) {
    /* Desktop */
    #OdysseyMiniMapCanvas {
        display: initial;
        width: 127px;
        height: 127px;
        border: 0.1em solid #7B7B7B;
        box-shadow: 0 0 0.5em #000;
        border-radius: 100%;
    }
    #OdysseyMiniMap {
        position: absolute;
        right: 0px;
        overflow: hidden;
        width: 127px;
        height: 127px;
        margin: 1em;
        z-index: 9000;
        cursor: pointer;
    }
}
